<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="/js/jquery.maskedinput.min.js"></script>

<script src="/js/mask.js"></script>

<script src="/js/script.js"></script>
</body>
</html>
