
<%- include layouts/header.ejs %>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-block">
                    <div class="main-block-link">
                        <%= title %>
                    </div>
                    <div class="main-block-title">
                        йога-туры в индию
                    </div>
                    <div class="main-block-descr">
                        океан / йога / путешествия / аюрведа
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include layouts/footer.ejs %>
